h1{
    color: hotpink;
}
h3 {
    color: dodgerblue;
}
html{
background-color: black;
}
.btn{
transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.clicked{
    color: dodgerblue; 
}
body{
    text-align: center;
}

::placeholder {
    text-align: center;
}

.form, 
.greetings {
    display: none;
}

.showing{
    display: block;
}


li{
    color: white;
}
.js-toDoList{
    display: table;
    margin: 0 auto;
}

ul button{
    background-color: transparent;
    border-color:  transparent;
    outline-style: none;
    font-size:20px;
    
}